/*
1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Temas visuales
5. Otros
*/

:root {
    --font-family-standard: 'DM Sans', sans-serif;
    --font-family-cards: 'Inter', sans-serif;
    --linear-BG: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --softer-black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.card {
    font-family: 'Inter', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    background: var(--off-white);
}

/*HEADER*/
.header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 45vh;
    min-height: 280px;
    padding-bottom: 3.5vh;
    background: var(--linear-BG);
}

.logo {
    width: 50vw;
}

.logo > img {
    width: 100%;
}

.header__title {
    width: auto;
    max-width: 85vw;
    text-align: center;
    font-size: 2.4rem;
    color: var(--white);
}

.header__text {
    width: auto;
    max-width: 85vw;
    text-align: center;
    font-size: 1.4rem;
    color: var(--soft-orange);
}

/*BUTTON BETWEEN HEADER AND MAIN*/
.divider-button__header-main {
    position: relative;
    bottom: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0.7rem;
    margin: 0 auto 0 auto;
    background-color: var(--off-white);
    box-shadow: 0 0.2rem 0.5rem var(--gray);
    border: none;
    border-radius: 0.7rem;
    text-decoration: none;
}

.divider-button__header-main > p {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    font-family: var(--font-family-standard);
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);
}

.divider-button__header-main > img {
    width: 2.4rem;
}

/*EXCHANGE RATES SECTION*/
.exchange-rates {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.bitcoin {
    width: 65vw;
    max-width: 280px;
    margin: 0 auto 0 auto;
}

.bitcoin > img {
    width: 100%;
}

.exchange-rates__title {
    width: auto;
    max-width: 85vw;
    text-align: center;
    font-size: 2.4rem;
    color: var(--warm-black);
}

.exchange-rates__text {
    width: auto;
    max-width: 85vw;
    text-align: center;
    font-size: 1.4rem;
    color: var(--gray);
}

.exchange-rates__cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    /*overflow-x: auto;*/
}

.cards__monedas,
.cards__comisiones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.cards__monedas--info,
.cards__comisiones--info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scroll-snap-align: center;
    gap: 1.2rem;
}

.cards__arrows--right:hover,
.cards__arrows--left:hover {
    cursor: pointer;
}

.cards__monedas--title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
}

.cards__comisiones--title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondary-blue);
}

.cards__monedas--grid,
.cards__comisiones--grid {
    display: grid;
    grid-template-columns: repeat( 2 , 120px);
    gap: 2px;
    font-size: 1.6rem;
    font-family: var(--font-family-cards);
    font-weight: 500;
    color: var(--gray);
}

.cards__monedas--grid > *,
.cards__comisiones--grid > * {
    background-color: var(--white);
    padding: 0.8rem;
}

.monedas-grid__value,
.comisiones-grid__value {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 400;
}

.cards__monedas--update {
    padding: 0.6rem;
    background-color: var(--soft-orange);
    font-family: var(--font-family-cards);
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0.6rem;
}

.cards__monedas--update > strong {
    font-weight: 700;
}

.cards__comisiones--update {
    padding: 0.6rem;
    background-color: var(--soft-blue);
    font-family: var(--font-family-cards);
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 0.6rem;
}

.cards__comisiones--update > strong {
    font-weight: 700;
}

/*EXCHANGE CARDS VISIBILITY*/

.cards__monedas {
    transition: visibility .5s;
}

.cards__comisiones {
    visibility: hidden;
    display: none;
    transition-timing-function: ease-in;
}
