.cards__comisiones {
    opacity: 1;
    transform: none;
    display: flex;
    position: static;
}

.cards__arrows--right,
.cards__arrows--left {
    display: none;
}

.plans__faq {
    max-width: 632px;
}

.added-value {
    max-height: 460px;
}

.exchange-rates__cards,
.exchange-rates__text {
    max-width: 632px;
}